<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Moura.Properties.Settings.Save_BDConnectionString"
            connectionString="Data Source=|DataDirectory|\Save_BD.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>